<header class="main-header">

    <a href="/" class="logo">
      <span class="logo-mini"><b>Disp</b></span>
      <span class="logo-lg"><b>Dispositivo WEB</b></span>
    </a>

    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <p style="color:white; margin-right: 10px;" > {{getNomeUsuario()}}<button  class="btn btn-success btn-sm ad-click-event" (click)="realizarLoggout()" >Sair</button></p>
      </div>

    </nav>
  </header>