<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Clientes x Dispositivo</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/lista-clientes']"><i class="fa fa-circle-o"></i>Lista</a></li>
            <li><a [routerLink]="['/novo-cliente']"><i class="fa fa-circle-o"></i>Novo</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>